.home{
    background-image: "https://st3.depositphotos.com/6741230/36765/v/950/depositphotos_367653100-stock-illustration-bus-stop-residential-area-vector.jpg";
    background-size: 100vh;
    background-repeat: no-repeat;
}

